html, body {
    color: #776e65;
    font-family: "Clear Sans","Helvetica Neue",Arial,sans-serif;
}
.game-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 5px;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    background: #bbada0;
    border-radius: 6px;
    width: 335px;
    height: 665px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.game-status {
    position: absolute;
    z-index: 10;
    color: antiquewhite;
    text-align: center;
}
.game-status .score {
    margin-top: 15px;
    font-size: 20px;
    line-height: 20px;
}
.game-status .pause {
    font-weight: bolder;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.game-new, .game-pause {
    position: absolute;
    background: none repeat scroll 0 0 rgba(238, 228, 218, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
}
.game-pause .message,
.game-new .message {
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
}
.action-container > div {
    width: 60%;
    margin: 5px auto;
    padding: 5px 10px;
    font-size: 32px;
    color: antiquewhite;
    border-radius: 6px;
    cursor: pointer;
}
.game-pause .action-container div {
    text-align: center;
}
div#continue-game,
.mode.easy {
    background-color: #7BC032;
}
.mode.normal {
    background-color: #F1B139;
}
div#new-game,
.mode.hard {
    background-color: #E2364A;
}
.mode > div {
    display: inline-block;
    text-transform: uppercase;
}
.mode div.power {
    width: 50px;
    float: right;
    text-align: right;
}
.grid-container {
    position: absolute;
    z-index: 1;
}
.grid-column {
    margin-right: 5px;
    width: 50px;
    float: left;
}
.grid-column:last-child {
    margin-right: 0;
}
.grid-column:after {
    content: "";
    display: block;
    clear: both;
}
.grid-cell {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35);
}
.grid-cell:last-child {
    margin-bottom: 0;
}
.tile-container {
    position: relative;
    z-index: 2;
    width: 325px;
    height: 655px;
}
.tile, .tile .tile-inner {
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.tile {
    position: absolute;
    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
}
.tile .tile-inner {
    border-radius: 3px;
    background: #eee4da;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 25px;
}
@-webkit-keyframes pulse  {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes pulse  {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.tile-merged .tile-inner {
    -webkit-animation: pulse  100ms ease 100ms;
    animation: pulse  100ms ease 100ms;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}
@-webkit-keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.tile-new .tile-inner {
    -webkit-animation: appear 200ms ease 100ms;
    -moz-animation: appear 200ms ease 100ms;
    animation: appear 200ms ease 100ms;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}
.tile-removed .tile-inner {
    -webkit-animation: fadeOutUp  100ms ease 100ms;
    animation: fadeOutUp  100ms ease 100ms;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}
